In [1]:
import pandas as pd

In [2]:
cp = pd.read_csv('../companies_data_TH.csv')

In [4]:
sim = pd.read_csv('../nonnormalized_complete.csv')

In [7]:
sim.groupby('company')['value'].sum()

company
AP (Thailand) Public Company Limited              55.619205
Advanced Info Service Public Company Limited      57.750465
Airports of Thailand Public Company Limited       57.171333
Amata Corporation Public Company Limited          26.305016
Asset World Corp Public Company Limited           55.304097
                                                    ...
Tipco Asphalt Public Company Limited              21.185949
True Corporation Public Company Limited           50.177669
VGI Public Company Limited                        29.505465
WHA Corporation Public Company Limited            42.632576
WHA Utilities and Power Public Company Limited    54.337184
Name: value, Length: 94, dtype: float64

In [9]:
sim.head()

,Unnamed: 0,company,title,areas,value,value_trans,z_by_company
0,55,Delta Electronics (Thailand) Public Company Li...,Innovative PLC training laboratory for develop...,"['Computer Networks and Communications', 'Comp...",0.384894,2.826180,3.935315
1,452,Delta Electronics (Thailand) Public Company Li...,Students' perceptions of makerspaces and learn...,"['Computer Networks and Communications', 'Ener...",0.314313,2.422818,3.056941
2,580,Delta Electronics (Thailand) Public Company Li...,Standardized the natural gas data for Thailand...,['Energy (all)'],0.425690,3.030390,4.443019
3,710,Delta Electronics (Thailand) Public Company Li...,Quantification and characterization of recover...,"['Environmental Engineering', 'Waste Managemen...",0.354112,2.658652,3.552235
4,1151,Delta Electronics (Thailand) Public Company Li...,Reducing misclassification of true defects in ...,['Artificial Intelligence'],0.333351,2.538486,3.293869

In [11]:
import ast

In [12]:
sim['areas'] = sim['areas'].apply(lambda x: ast.literal_eval(x))

In [20]:
inf = sim.groupby('company')[['value', 'areas']].sum()

In [22]:
cp = cp.join(inf, on='company_name', how='left')
cp.head()

,company_name,sector,industry,market_cap,business_summary,risks,strategy,value,areas
0,Delta Electronics (Thailand) Public Company Li...,Industrials,Electrical Equipment & Parts,2482289508352,Delta Electronics (Thailand) Public Company Li...,NaN,NaN,41.859218,"[Computer Networks and Communications, Compute..."
1,Advanced Info Service Public Company Limited,Communication Services,Telecom Services,910108196864,Advanced Info Service Public Company Limited o...,NaN,NaN,57.750465,"[Computer Science Applications, Human-Computer..."
2,PTT Public Company Limited,Energy,Oil & Gas Integrated,899297640448,PTT Public Company Limited engages in petroleu...,NaN,NaN,38.308896,"[Pharmacy, Pharmaceutical Science, Multidiscip..."
3,Airports of Thailand Public Company Limited,Industrials,Airports & Air Services,757142126592,"Airports of Thailand Public Company Limited, t...",NaN,NaN,57.171333,"[Multidisciplinary, Social Sciences (all), Tou..."
4,Gulf Development Public Company Limited,Utilities,Utilities - Independent Power Producers,605063413760,Gulf Development Public Company Limited genera...,NaN,NaN,51.284683,"[Multidisciplinary, Hardware and Architecture,..."

In [26]:
cp.sort_values('value', ascending=False).head(15)

,company_name,sector,industry,market_cap,business_summary,risks,strategy,value,areas
37,Electricity Generating Public Company Limited,Utilities,Utilities - Independent Power Producers,60017008640,"Electricity Generating Public Company Limited,...",NaN,NaN,93.512626,"[Computer Science (all), Materials Science (al..."
56,Star Petroleum Refining Public Company Limited,Energy,Oil & Gas Refining & Marketing,25365026816,Star Petroleum Refining Public Company Limited...,NaN,NaN,85.946238,"[Chemistry (all), Mathematics (all), Materials..."
85,Jaymart Group Holdings Public Company Limited,Consumer Cyclical,Specialty Retail,10101403648,"Jaymart Group Holdings Public Company Limited,...",NaN,NaN,79.795748,"[Pharmacy, Pharmaceutical Science, Business an..."
22,Thai Life Insurance Public Company Limited,Financial Services,Insurance - Life,109347504128,Thai Life Insurance Public Company Limited pro...,NaN,NaN,75.328564,"[Social Sciences (all), Economics and Economet..."
28,Bangkok Expressway and Metro Public Company Li...,Industrials,Railroads,81629429760,Bangkok Expressway and Metro Public Company Li...,NaN,NaN,72.950900,"[Multidisciplinary, Social Sciences (all), Civ..."
21,Central Retail Corporation Public Company Limited,Consumer Cyclical,Department Stores,117604499456,Central Retail Corporation Public Company Limi...,NaN,NaN,72.486861,"[Pharmacy, Pharmaceutical Science, Business an..."
90,The ONE Enterprise Public Company Limited,Communication Services,Entertainment,5095875584,The ONE Enterprise Public Company Limited enga...,NaN,NaN,70.617683,"[Multidisciplinary, Business and International..."
40,Com7 Public Company Limited,Consumer Cyclical,Specialty Retail,49925963776,"Com7 Public Company Limited, together with its...",NaN,NaN,68.245070,"[Pharmacy, Pharmaceutical Science, Business an..."
58,Bangkok Chain Hospital Public Company Limited,Healthcare,Medical Care Facilities,24815300608,"Bangkok Chain Hospital Public Company Limited,...",NaN,NaN,68.210572,"[Pharmacy, Pharmaceutical Science, Social Scie..."
67,Energy Absolute Public Company Limited,Utilities,Utilities - Renewable,19309680640,"Energy Absolute Public Company Limited, togeth...",NaN,NaN,67.448294,"[Renewable Energy, Sustainability and the Envi..."
70,CK Power Public Company Limited,Utilities,Utilities - Independent Power Producers,18534991872,"CK Power Public Company Limited, through its s...",NaN,NaN,67.357734,"[Computer Science (all), Materials Science (al..."
66,BCPG Public Company Limited,Utilities,Utilities - Renewable,20670740480,"BCPG Public Company Limited, a renewable energ...",NaN,NaN,66.013353,"[Multidisciplinary, Renewable Energy, Sustaina..."
27,Home Product Center Public Company Limited,Consumer Cyclical,Home Improvement Retail,83014402048,Home Product Center Public Company Limited ope...,NaN,NaN,65.799585,"[Pharmacy, Pharmaceutical Science, Social Scie..."
23,Global Power Synergy Public Company Limited,Utilities,Utilities - Regulated Electric,97985593344,"Global Power Synergy Public Company Limited, t...",NaN,NaN,64.642492,"[Renewable Energy, Sustainability and the Envi..."
6,SCB X Public Company Limited,Financial Services,Banks - Regional,449508835328,"SCB X Public Company Limited, together with it...",NaN,NaN,62.754247,"[Accounting, Finance, Economics, Econometrics ..."

In [28]:
cp['value'].median()

48.06157290935516

In [29]:
cp['market_cap'].median()

42316902400.0

In [32]:
cp[(cp['value']>48.06157290935516)&(cp['market_cap']<42316902400)].to_csv('lower_right.csv')

In [33]:
cp[(cp['value']<48.06157290935516)&(cp['market_cap']>42316902400)].to_csv('upper_left.csv')